#member {
    display: grid;
    grid-template-columns: auto auto;
    margin: 75px;
}

#bio-box {
    float: right;
    width: 300px;
    margin-left: 75px;
    margin-right: 75px;
}

#headshot-box {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


div {
    outline: 1px solid red;
}


#name-box {
}

#listing {
}


#students-cards{
    display: grid;
    grid-template-columns: auto auto;
}

#students {
    width: 75%;
}

#content {
    justify-content: center;
    display: flex;
    justify-content: center;
}

