{{ define "main" }}
<style>


    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }


</style>
<div class="container">
    <h2>Courses Run by LAACSL:</h2>
    <h3>ME 658 Flight Stability and Control</h3>
    <h5>The course covers basic topics in aircraft stability and control including:</h5>
    <ul>
        <li>Static and dynamic analysis of aircraft motion</li>
        <li>Modeling and key stability derivatives</li>
        <li>Classical and state space control techniques</li>
        <li>Longitudinal autopilot</li>
        <li>Lateral autopilot</li>
    </ul>
    <h5>Recommended Texts:</h5>
    <ul>
        <li><a href = "https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Focw.mit.edu%2Fcourses%2Faeronautics-and-astronautics%2F16-333-aircraft-stability-and-control-fall-2004%2Findex.htm&data=05%7C02%7Ccalebpatton%40unr.edu%7C61b10b27d3fd4e3d984208dc3e13eb90%7C523b4bfc0ebd4c03b2b96f6a17fd31d8%7C0%7C0%7C638453502469436204%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C0%7C%7C%7C&sdata=WI%2Bxgrljd5yG2xPtp3jJutVk%2FH9GitG5Jxg%2BSyQ3Svk%3D&reserved=0">MIT Opencourseware 16-333 Notes by Prof. J. How</a></li>
        <li><a href = "https://www.amazon.com/Automatic-Flight-Control-Systems-McClean/dp/0130540161">McLean's Automatic Flight Control Systems</a></li>
    </ul>
</div>
{{ end }}