{{ define "main" }}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  h1, h2, h3, h4, h5 {
    color: #333;
  }

  .section-heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .content-box {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  a {
  color: #333333; /* This sets the link color to a dark grey */
  text-decoration: none; /* This removes the underline */
  border-bottom: 1px dotted #666666; /* This adds a subtle dotted underline */
  transition: all 0.3s ease; /* This adds a smooth transition for all changes */
  font-weight: 500; /* This makes the text slightly bolder */
}

  a:hover {
  color: #000000; /* This changes the color to black when hovered over */
  border-bottom: 1px solid #000000; /* This changes the dotted line to solid on hover */
}

</style>

<main id="content">
  <div class="container">
    <h1 class="section-heading">Courses Run by LAACSL</h1>
    
    <div class="content-box">
      <h2>ME 658 Flight Stability and Control</h2>
      <h3>The course covers basic topics in aircraft stability and control including:</h3>
      <ul>
        <li>Static and dynamic analysis of aircraft motion</li>
        <li>Modeling and key stability derivatives</li>
        <li>Classical and state space control techniques</li>
        <li>Longitudinal autopilot</li>
        <li>Lateral autopilot</li>
      </ul>
      
      <h3>Recommended Texts:</h3>
      <ul>
        <li><a href="https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Focw.mit.edu%2Fcourses%2Faeronautics-and-astronautics%2F16-333-aircraft-stability-and-control-fall-2004%2Findex.htm&data=05%7C02%7Ccalebpatton%40unr.edu%7C61b10b27d3fd4e3d984208dc3e13eb90%7C523b4bfc0ebd4c03b2b96f6a17fd31d8%7C0%7C0%7C638453502469436204%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C0%7C%7C%7C&sdata=WI%2Bxgrljd5yG2xPtp3jJutVk%2FH9GitG5Jxg%2BSyQ3Svk%3D&reserved=0">MIT Opencourseware 16-333 Notes by Prof. J. How</a></li>
        <li><a href="https://www.amazon.com/Automatic-Flight-Control-Systems-McClean/dp/0130540161">McLean's Automatic Flight Control Systems</a></li>
      </ul>
    </div>
  </div>
</main>
{{ end }}
