{{ define "main" }}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .links {
    list-style-type: none;
    padding: 0;
  }

  .links li {
    margin-bottom: 10px;
  }

  .links li a {
    display: block;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
  }

  .links li a:hover {
    background-color: #f0f0f0;
  }
</style>
</head>
<body>

<div class="container">
  {{ $news := .Site.Data.news.news }}
  {{ $sortedNews := sort $news "year" "desc" }}
  
  {{ $currentYear := 0 }}
  {{ range $sortedNews }}
    {{ if ne .year $currentYear }}
      {{ if ne $currentYear 0 }}</ul>{{ end }}
      <h2>{{ .year }}</h2>
      <ul class="links">
      {{ $currentYear = .year }}
    {{ end }}
    <li>
      <a href="{{ .link }}">{{ .title }}</a>
    </li>
  {{ end }}
  {{ if ne $currentYear 0 }}</ul>{{ end }}
  
</div>

</body>
</html>

{{ end }}