{{ define "main" }}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  h1, h2 {
    color: #333;
  }

  .section-heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .content-box {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
  }

  .year-heading {
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
  }

  .publication-list {
    list-style-type: none;
    padding: 0;
  }

  .publication-item {
    margin-bottom: 15px;
  }

  .publication-link {
    display: block;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }

  .publication-link:hover {
    background-color: #e0e0e0;
  }

  .publisher {
    font-style: italic;
    color: #666;
  }
</style>

<main id="content">
  <div class="container">
    <h1 class="section-heading">Publications</h1>
    
    <div class="content-box">
      {{ $publications := .Site.Data.publications.publications }}
      {{ $sortedPublications := sort $publications "year" "desc" }}
      
      {{ $currentYear := 0 }}
      {{ range $sortedPublications }}
        {{ if ne .year $currentYear }}
          {{ if ne $currentYear 0 }}</ul>{{ end }}
          <h2 class="year-heading">{{ .year }}</h2>
          <ul class="publication-list">
          {{ $currentYear = .year }}
        {{ end }}
        <li class="publication-item">
          <a href="{{ .link }}" class="publication-link">
            {{ .title }},
            <span class="publisher"> {{ .publisher }}</span>
          </a>
        </li>
      {{ end }}
      {{ if ne $currentYear 0 }}</ul>{{ end }}
    </div>
  </div>
</main>
{{ end }}
