{{ define "main" }}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }

  .container img {
    width: 100%;
    height: auto;
    display: block;    
}

  h1 {
    text-align: center;
    color: #333;
  }

  .links {
    list-style-type: none;
    padding: 0;
  }

  .links li {
    margin-bottom: 10px;
  }

  .links li a {
    display: block;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
  }

  .links li a:hover {
    background-color: #f0f0f0;
    
  }



</style>
</head>
<body>

<div class="container">
  <h1>Research</h1>
  <h2>2023</h2>
  <ul class="links">
    <li>
        <h4>Robust and Resilient Autonomy for Advanced Air Mobility NASA University Leadership Initiative Project</h4>
            <img src="../images/Framework.png">
        <p>The LAACSL is a member of the NASA Robust and Resilient Autonomy Project along with research groups from the University of Illinois, MIT, Georgia Tech, 
            North Carolina A&T State University and Corporate Partners Lockheed Martin and the Sierra Nevada Corporation</p>
        <p> This project aims to develop, integrate and test methods aimed at improving safety of Urban Air Mobility technologies that are expected to become more prominent in the coming years.</p>
    </li>
  </ul>
</div>

</body>
</html>

{{ end }}