{{ define "main" }}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  h1, h2 {
    text-align: center;
    color: #333;
  }

  .section-heading {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .content-box {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
  }

  .column-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .column {
    width: 48%;
    margin-bottom: 20px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  .project {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .project h4 {
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
  }

  .project img {
    width: 100%;
    height: auto;
    display: block;
  }

  .project p {
    padding: 0 20px 20px;
    margin: 0;
  }

  @media (max-width: 768px) {
    .column {
      width: 100%;
    }
  }
  .main-topic {
  color: #333333; /* This sets the link color to a dark grey */
  text-decoration: none; /* This removes the underline */
  border-bottom: 1px dotted #666666; /* This adds a subtle dotted underline */
  transition: all 0.3s ease; /* This adds a smooth transition for all changes */
  font-weight: 500; /* This makes the text slightly bolder */
}

.main-topic:hover {
  color: #000000; /* This changes the color to black when hovered over */
  border-bottom: 1px solid #000000; /* This changes the dotted line to solid on hover */
}



</style>

<main id="content">
  <div class="container">
    <h1 class="section-heading">Research Areas</h1>
    <div class="content-box">
      <div class="column-container">
        <div class="column">
          <h2>Core Research Expertise</h2>
          <ul>
            <li><a href="https://github.com/petros-lab-UNR/petros-lab-UNR.github.io/blob/8f2f6d83b54ff73364ce813aaf655593e3776d91/static/hmm_estimation_based_q_learning.pptx" class="main-topic">Stochastic Control Methods for Path Planning</a>
              <ul>
                <li>RL : Discretization of belief space for partially observable Markov decision process.</li>
                <li>MPPI : Monte-Carlo simulation-based Path integral method for approximate solution of finite time horizon optimal control in MPC.</li>
                <li>Complexity : Sampling complexity for the simulation-based optimization for the stochastic control tasks.</li>  
              </ul>
            </li>
            <li><a href="https://github.com/petros-lab-UNR/petros-lab-UNR.github.io/blob/8f2f6d83b54ff73364ce813aaf655593e3776d91/static/hmm_estimation_based_q_learning.pptx" class="main-topic">Adversarial Machine Learning for Autonomous Vehicles</a>
              <ul>
                <li>Min-max optimization framework to robustify perception-based control that utilizes high-dimensional sensors, e.g., camera, lidar, and radar.</li>
              </ul>
            </li>
            <li><a href="https://github.com/petros-lab-UNR/petros-lab-UNR.github.io/blob/60919e75bbff6d1c54a9364c4f69b93f1f233d52/static/USTC19presentFinal.pdf" class="main-topic">Distributed and Robust Control</a>
              <ul>
                <li>Input-output methods for analysis, design and implementation of distributed architectures</li>
                <li>Mean Field control</li>
                <li>Security in feedback control systems</li>
              </ul>
            </li>
            <li><a href="https://github.com/petros-lab-UNR/petros-lab-UNR.github.io/blob/8f2f6d83b54ff73364ce813aaf655593e3776d91/static/core_research.pptx" class="main-topic">Decentralized Optimization</a>
              <ul>
                <li>Efficient incorporation of second-order information in multi-agent networks</li>
                <li>A General and flexible framework (gradient, quasi-Newton, Newton) for decentralized optimization.</li>
              </ul>
            </li>
          </ul>
          
        </div>
        <div class="column">
          <h2>Relevant Topics and Applications</h2>
          <ul>
            <li>Exploration in uncertain environment: Discretization of the belief space is useful to consider the trade-off between exploration and exploitation.</li>
            <li>Sampling based path integral method to consider complex cost function for optimal control of autonomous vehicles in cluttered and dynamic environment.</li>
            <li>On board computer resource allocation for the path integral method based on sampling complexity bounds.</li>
            <li>Validation of machine learning tool embedded in autonomous vehicle software stack.</li>
            <li>Real-time optimization-based control: Information exchange based on proximities; Connected Autonomous vehicles, Drone fleets, Field robot coordination etc.</li>
            <li>Decentralized Machine learning: Distributed data mandates distributed computing (privacy/security); Heterogeneous hardware require flexible computing schemes.</li>
          </ul>
        </div>
      </div>
    </div>
    
    <h1 class="section-heading">Current Projects</h1>
    <div class="project">
      <h4>Robust and Resilient Autonomy for Advanced Air Mobility NASA University Leadership Initiative Project</h4>
      <img src="../images/Framework.png" alt="Project Framework">
      <p>The LAACSL is a member of the NASA Robust and Resilient Autonomy Project along with research groups from the University of Illinois, MIT, Georgia Tech, 
         North Carolina A&T State University and Corporate Partners Lockheed Martin and the Sierra Nevada Corporation</p>
      <p>This project aims to develop, integrate and test methods aimed at improving safety of Urban Air Mobility technologies that are expected to become more prominent in the coming years.</p>
    </div>
  </div>
</main>

{{ end }}
