
{{ define "main" }}

<div class="jumbotron text-center">
    <h1 class="display-4">Learning Autonomy and Control Systems Laboratory</h1>
    <p class="lead">University of Nevada, Reno </p>
  
    <div class="d-flex justify-content-center">
     
    </div>
  </div>

<div class="container">
    <h5 class="text-center">Dr. Petros Voulgaris, Chair of the Mechanical Engineering Department at UNR, leads the LAACSL. This laboratory specializes in integrating modern computational techniques with traditional control methods to advance research in autonomous cyberphysical systems, spanning aerial and terrestrial domains.
    </h5>
</div>

{{ end }}


