
{{ define "main" }}

<div class="jumbotron text-center">
    <h1 class="display-4">Learning Autonomy and Control Systems Laboratory</h1>
    <p class="lead">University of Nevada, Reno </p>
  
    <div class="d-flex justify-content-center">
     
    </div>
  </div>

<div class="container">
    <h5 class="text-center">The LAACSL is led by Dr. Petros Voulgaris, Chair of the Mechanical Engineering Department at UNR. The lab is focused on combining new computational methods to "Classical" Control in order to 
        further autonomous cyberphysical systems research, both in the air and on land.
    </h5>
</div>

{{ end }}


