<style>
    .custom-navbar {
     background-color: rgb(4,30,66);   
    }

    .nav-link {
    color: white;
    }
    .navbar-brand {
        margin-left: 20px;
}


</style>
<div class="alert alert-danger" role="alert">
    Pardon our dust! This website is still under construction.
  </div>

  
<nav class="navbar navbar-expand-sm navbar-dark custom-navbar">
    <a class="navbar-brand {{ if .IsHome }} active {{ end }} " href="{{ .Site.Home.Permalink }}">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="nav-item">
            <a class='nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}' href="{{ absURL .URL }}"> {{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>